@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
    --main-flex-direction: row;
    --alt-flex-direction: column;
    --background-color-mode: black;
    --contrast-color-mode: white;
}

:root:dark {
    --background-color-mode: black;
    --contrast-color-mode: white;
}

:root:light {
    --background-color-mode: white;
    --contrast-color-mode: black;
}

.splashImage {
    background-image: url("./assets/andrei-stan-9NANyyCys2o-unsplash.jpg");
    background-size: cover;
    background-position: 50% 50%;
    width: 40%;
    min-height: 100vh;
}

@media (max-aspect-ratio: 1/1)
{
    :root {
        --main-flex-direction: column;
        --alt-flex-direction: row;
    }

    .splashImage {
        background-image: url("./assets/andrei-stan-9NANyyCys2o-unsplash.jpg");
        width: 100%;
        min-height: 40vh;
        background-position: 50% 25%;
    }

    .entryBox {
        justify-content: center;
        align-items: center;
        margin: 0px !important;
    }

    form > button[type="submit"] {
        position: relative;
        margin: 0;
        margin-block: 5%;
        left: 50%;
        translate: -50%;
    }
}

body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif;
    color: var(--contrast-color-mode);
    margin: 0;
    padding: 0;
    border: 0;
}

.flex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.mainContainer {
    flex-direction: var(--main-flex-direction);
    min-height: 100vh;
    width: 100vw;
}

.signupArea {
    background-color: var(--background-color-mode);
    flex: 1;
}

.textBar {
    font-size: 1.25rem;
    color: white;
    position: relative;
    top: 15vmin;
    width: 100%;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.textBar img {
    margin-right: 2.5%;
    width: 50px;
}

.signupArea {
    font-size: 0.75rem;
}

.entryText {
    margin-top: 10%;
    max-width: 90%;
    margin-left: 5%
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.entryBox {
    flex-direction: var(--main-flex-direction);
}

.entryBox > div {
    max-width: 40%;
    margin: 2% 5%;
}

form > button {
    margin: 5% 5%;
    color: var(--background-color-mode);
    background-color: var(--contrast-color-mode);
    border-radius: 10px;
    border-color: transparent;
    padding-inline: 5%;
    padding-block: 1%;
}

.themeToggle {
    position: absolute;
    right: 2%;
    top: 2%
}